<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to glass classification website 🦖</h1>

<h3> Enter the form data </h3>

<div class="container">
<form action="{% url 'results' %}">
    {% csrf_token %}
    RI: <input type="text" required name="RI"> <br> <br>
    Na: <input type="text" required name="Na" > <br> <br>
    Mg: <input type="text" required name="Mg" > <br> <br>
    Al: <input type="text" required name="Al" > <br> <br>
    Si: <input type="text" required name="Si" > <br> <br>
    K: <input type="text" required name="K" > <br> <br>
    Ca: <input type="text" required name="Ca"> <br> <br>
    Ba: <input type="text" required name="Ba" > <br> <br>
    Fe: <input type="text" required name="Fe"> <br> <br>
    <input type="submit" name="" value="submit">
</form>
    </div>
</body>
</html>